.DS_Store
__pycache__/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/

# Virtual-environment directories anywhere in the repository
idoVenv/
michalVenv/
MichalVenvNew/


# Ignore all Markdown files
*.md

# Keep the repository README
!README.md